



.container {
    
    margin: 2% ;
    background-color: #beb9a1;
    border-radius: 20px;
    
    box-shadow: 0 0 15px #cfaf66;
}



header {
   
    background: linear-gradient(to right, rgba(155, 124, 12, 0.7), rgba(0,0,0,0), rgba(195, 198, 29, 0.915));
    color: #fff;
    
    padding:2px;
    text-align: center;
    display: flex;
    
    margin: 0 0 10px 0;
     /* Use flexbox to create a flexible container */
    justify-content: space-between; /* Space items evenly across the container */
    align-items: center; /* Center items vertically */
    height:5vh;
    
    border-radius: 25px ;
    overflow: hidden;
    
}


h1 {
    
    
    margin: 30px;
}
#slogon {
    width: 30%;
    font-size: 25px;
   
    text-shadow: 0 0 4px rgb(144, 156, 30);
    font-family:"Magneto";
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

nav ul {
    list-style: none;
    margin: 2px;
   
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}


#background{
    height:90vh;
    width: 98%;
    margin:1% 1% 1% 1%;
    /*background-image: url("./assets/content.jpg");*/
    background-size: cover;
    align-items: center;
    flex-direction: row;
    border-radius: 100px;
    display: flex;
    justify-content:space-between;
    
    background-image: linear-gradient(to right, rgba(200, 186, 40, 0.915),  rgba(0,0,0,0),rgba(234, 181, 5, 0.7)),url("./assets/content.jpg");
            
    border:5px solid rgb(238, 255, 0);
    border-style: ridge;
    /* trbl*/
    box-shadow: 0 0 50px 0 rgba(220, 243, 120, 0.6);


    
}
#videos {
    display: flex;
    height:100%;
    
    background-position: fixed;
    
    width:100%;
}


#profile-video {
    border-radius: 100%;
    display: flex;
    margin-top: 30%;
    margin-bottom: 20%;
    
    height:55%;
        position: cover;
    align-items: right;
    
    
   
    
    
    
    box-shadow: 10px 10px 30px 5px rgba(32, 33, 29, 0.8); 
}


#texts{
    
    
    height:100%;
    width:100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

#text {
    margin-top: 25%;
    font-size: 80px;
    font-style: italic;
    -webkit-text-stroke: 2px goldenrod;
    
    
    
    color: white;
    
    text-shadow:0 0 12px #333;
    /*text-decoration-line: overline;*/
    text-decoration-color: rgb(200, 241, 97);
    /*text-decoration-thickness: 2px;*/
    
    
    
    
}
#web-text {
    
    
    font-size: 40px;
    font-weight:lighter;
    font-family: forte;
    -webkit-text-stroke: 1px rgb(128, 137, 7);
    color:white;
  
    margin-top:0;
    text-shadow: 0 0 10px rgb(0, 0, 0) ;
}
/*for seperate section with line */
.line {
    
    
    border-radius: 100%;
border: 2px solid #ffd700;
border-style:outset;
}
/*about section */
#about{
    margin-bottom: 2%;
}
.about_img {
    display: flex;
    
     
    justify-content: space-between; /* Space items evenly across the container */
    overflow:hidden;
    max-height:100%;
    max-width:100%;
    
    
    
}
.about_img img{
    width:80%;
    
    
    background-position: fixed;
    overflow:hidden;
    border-radius: 30%;
    box-shadow: 0 10px 100px 10px #f3ec74;
    
}


.about-texts {
    width:80%;
   
    box-shadow: 0 0 100px rgba(255, 217, 0, 0.862);
    
    outline:2px solid #ffd700;
    border-radius: 30px;
    padding: 0 8px 5px 8px;
    
    text-align: justify;
    font-size: 20px;
    margin:100px 50px 30px 10px;
    background-color: rgb(187, 191, 170);
    
}

#about H4 {
    text-align: center;
    margin-bottom:5px;
    
    
    color: #eaff04;
    -webkit-text-stroke:0.5px #000000;
    font-size: 40px;

}
#about H5 {
    text-align: center;
    margin:15px;
    color: #382804;
    font-size: 40px;
}

.about-text p {
    color: #000000;
    line-height: 1.8;
    margin-bottom: 10px;
}




   

 .skill-container{
    padding:10px;
    border:5px solid gold ;
    margin:1% 0 1% 5%;
    width: 60%;
    border-style: ridge;
    border-radius: 10px;
    
    background-color: rgb(168, 210, 94);
    
 }
 
#skills H2{
    
        font-size: 40px;
        margin:2% 0 0 15%;
        border-bottom: 5px solid rgb(246, 255, 0);
        border-bottom-style: ridge;
        border-top: 5px solid rgb(246, 255, 0);
        border-top-style: ridge;
        border-left: 5px solid rgb(246, 255, 0);
        border-left-style: ridge;
        border-radius: 10px;
        width: 14%;
        border-bottom-style: ridge;
}
    
 

 .skill-rate{
    
   
    height:2vh;
    width:100%;
    border-radius: 30px;
    border: 1px solid gold;
    
    background-color: #555c0a;
    
    display: flex;
}
.skill-rate2{
    height:2vh;
    
    width: 75%;
    padding-bottom: 0.2%;
    margin:0 0 0 1%;
    
    border-radius: 30px;
    background-color: rgb(233, 237, 196);
    border: 3px solid goldenrod;
    border-style: ridge;

}
    

 .sixty{
    width: 60%;
    
 }
 #skillp{
    font-size: 9px;
    padding: 1px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 95%;
    
    
    
    
 }
 .fifty{
    width:50%;
 }
 .fourty{
    width:40%;
    
 }

    
 
 .skillitem{
    display: flex;
    margin:1.3% 10% 3% 1%;
    
    
 }
 .skillitem p{
    
    margin:0 1% 0 0;
 }
 #aligns{
    
    margin: 0 0 0 7%;
 }
 #align1{
    
    margin: 0 0 0 9%;
 }
 #align2{
    
    margin: 0 0 0 8.5%;
 }


 #blog {
    width: 40%;
    margin:  0 10%;
    
}
#blog h1 {
    font-size:50px;
}

article {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border:2px solid gold;
    border-style: ridge;
}

.read-more-btn {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #555;
}


 .contact-container {
    width: 70%;
    margin: 1.5% 0 0 13%;
    border: 2px solid gold;
    border-style: ridge;
    
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  label {
    display: block;
    
    margin-bottom: 8px;
  }

  input, textarea {
    width: 95%;
    
    padding: 10px;
    margin-bottom: 16px;
    box-sizing:content-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #45a049;
  }

 

  .footer{
    border-radius: 20px 10px;
    margin:10px 0 0 0;
    height:25px;
    text-align: center;
    
    background-color: #eaff04;
 } 
 .footer p{
    font-size: 12px;
 }

 